@if (book) {
  <div class="container my-5">
    <div class="card shadow-lg border-0">
      <div class="row g-0">
        <!-- Image -->

        <div class="col-lg-4">
          <img
            [src]="'https://localhost:7016/Images/' + this.book?.imageUrl"
            class="img-fluid rounded-start w-100 h-100"
          />{{ this.book.imageUrl }}
        </div>

        <!-- Details -->

        <div class="col-lg-8">
          <div class="card-body p-5">
            <span class="badge bg-primary mb-3"> category :{{ this.book.categoryName }} </span>

            <h2 class="fw-bold">
              {{ this.book.title }}
            </h2>

            <h5 class="text-muted">
              {{ this.book.author }}
            </h5>

            <hr />

            <p>
              {{ this.book.description }}
            </p>

            <table class="table">
              <tr>
                <th>ISBN</th>

                <td>{{ this.book.isbn }}</td>
              </tr>

              <tr>
                <th>Price</th>

                <td class="text-success fw-bold">${{ this.book.price }}</td>
              </tr>
            </table>

            <div class="my-4">⭐⭐⭐⭐⭐</div>
            @if (userId) {
              <button class="btn btn-success btn-lg me-3">🛒 Add To Cart</button>

              <button class="btn btn-primary btn-lg">Buy Now</button>
            } @else {
              <span class="text-danger"> Please login to buy this book!!! </span>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
}
